{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
		<a class="btn btn-default" href="../">Back to clients</a>
		
		<hr/>
		
		<h2 class="page-header">Viewing client - #{{result.id}}</h2>
		
		<ul class="list-group">
			<li class="list-group-item">First name: {{result.firstname}}</li>
			<li class="list-group-item">Last name: {{result.lastname}}</li>
			<li class="list-group-item">E-mail: {{result.email}}</li>
			<li class="list-group-item">Password: {{result.password}}</li>
			<li class="list-group-item">Last modified: {{result.modified|date('j/m/Y, g:i a')}}</li>
		</ul>
		
		<hr/>
		<h3>Addresses:</h3>
		<ul class="list-group">	
			<li class="list-group-item">Default Address: <strong>{{result.defaultAddress}}</strong></li>
			<li class="list-group-item">Address 2: <strong>{{result.address2}}</strong></li>
			<li class="list-group-item">Address 3: <strong>{{result.address3}}</strong></li>
		</ul>

    </div><!-- /container -->
{% endblock %}
